header, footer {
    background-color:rgb(231, 158, 213);
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
a{
color :greenyellow
}
.leftp {
    padding-left: 10px;
}

/*body {
    background-color:#63a2cd;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;

    color: white
}*/

